<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="it">
<head>
<meta content="text/html; charset=UTF-8" http-equiv="content-type">
<title>Retwis - Example Twitter clone based on the Redis Key-Value DB</title>
<!-- <link href="/static/css/style.css" rel="stylesheet" type="text/css"> -->
<link href="/static/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css">
<script src="/static/bootstrap/jquery.js"></script>
<script src="/static/bootstrap/bootstrap.min.js"></script>
<script src="/static/js/main.js"></script>
</head>
<body>
<div id="container">
<div id="page" class="col-md-8 col-md-offset-2" style="margin-top:10px;padding:30px">
<div id="header" style="margin-bottom:50px">
<a href="/"><img style="border:none;margin-top:10px" src="/static/images/logo.png" width="192" height="85" alt="Retwis"></a>
<div style="height:20px;"></div>
<div id="navbar" class="pull-right">
<a href="/" class="btn btn-primary">首&nbsp;&nbsp;&nbsp;&nbsp;页</a>	
{if $user}
<a href="/index/index/home" class="btn btn-warning">我的主页</a>
<a href="/index/index/logout" class="btn btn-danger">退出</a>
{else}
<a href="/index/index/login" class="btn btn-warning">登陆或注册</a>
{/if}
</div>
</div>