{include file="../common/head.html"}
<div>
	<h2 class="username">{$u_info['name']}</h2>
	<a data-uid="{$u_info['id']}" class="btn btn-primary btn-sm dofan" {if in_array($u_info['id'],$star_ids)}style="display:none"{/if}> <big><b>+</b></big> 关注</a>
	<a data-uid="{$u_info['id']}" class="btn btn-danger btn-sm unfan" {if !in_array($u_info['id'],$star_ids)} style="display:none" {/if}> 取消关注</a> 

	<div style="clear:both;height:30px"></div>
	
	<div class="common_fans_stars">
		<p class="common_fans" style="padding:15px;border:solid 1px #ccc;border-radius:5px;font-size:20px">
			你和 Ta 共有 <font color="red">{$c_fans_num}</font> 个粉丝,<font color="red">{$c_stars_num}</font> 个关注哦~
		</p>
		
	</div>
	
	<div style="clear:both;height:30px"></div>
	
	<div style="clear:both">
		<h3>Ta 的微博</h3>
		<div id="homeinfobox">
			<a href="/index/index/fans?user_id={$u_info['id']}" class="btn btn-primary btn-sm">{$fans_num} 粉丝</a>
			<a href="/index/index/fans?user_id={$u_info['id']}" class="btn btn-warning btn-sm">{$stars_num} 关注</a>
		</div>
		
		{foreach $posts as $post}
		<div class="post col-md-12" style="padding:15px;font-size:18px;border:1px solid #ccc;border-radius:10px;margin:15px 0">
			<div>
				<h3>{$post["title"]}</h3>
				<p>发表人:<a class="username">{$post['user_name']}</a></p>
			</div>

			<p>{$post['content']}</p>
			<i>{timeformat($post['create_time'])} 前 发布</i>
		</div>
		
		{foreachelse}
			<div class="post col-md-12" style="padding:15px;font-size:40px;">
				<h2 style="color:grey" class="text-center">暂无文章</h2>
			</div>
		{/foreach}
		
		<div style="clear:both"></div>
		 <div>{$links}</div>
	</div>
</div>
{include file="../common/footer.html"}
